#main {
	width: 70%;
}
#side {
	width: 25%;
	padding: 10px 10px 10px 10px;
}

.button_red { background: red; }
.button_green { background: green; }

#score { font-weight: bold; }

.score_unkwown { }
.score_failed { color: red; }
.score_complete { color: green; }
.current { font-weight: bold; }

#curr_score_box {
	float: right; 
	font-size: 140%;
	font-weight: bold;
}
span.curr-score-unknown { }

.sweet-alert strong {
    font-weight: 600;
    color: blue;
}

li.answer { color: blue; }
li.answer:hover {
	color: lightblue;
	cursor: pointer;
}

#answers_heading {
	display: none;
}

body { background-color: #fff0e5; }
/* #header { background-color: #ffccb3; } */
#header { background-color: #ff5555; }
#main { background-color: #fff0aa; }
#side { background-color: #99ccff; }
div.entrywrap { background-color: #ffffff; }
#navigation_box { background-color: #ccccff; }
h1 { color: #000055; }
#header h1 { color: #ffffff; font-weight: bold; }

/* Reduce opacity effect */
#side {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#side:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

button.ui_button {
	width: 8em;
	height: 2.4em;
}
