#main {
	width: 70%;
}
#side {
	width: 25%;
	padding: 10px 10px 10px 10px;
}

.button_red { background: red; }
.button_green { background: green; }

#mistakes_box h3 { display: inline; }

li.li-unkwown { }
li.li-failed { color: red; }
li.li-complete { color: green; }
li.li-current { font-weight: bold; }
