#main {
	width: 70%;
}
#side {
	width: 25%;
	padding: 10px 10px 10px 10px;
}

.button_red { background: red; }
.button_green { background: green; }

#score {
	font-weight: bold;
}

.score_unkwown { }
.score_failed { color: red; }
.score_complete { color: green; }
.current { font-weight: bold; }

#curr_score_box {
	float: right; 
	font-size: 140%;
	font-weight: bold;
}
span.curr-score-unknown {
}
