#main {
	width: 70%;
}
#side {
	width: 25%;
	padding: 10px 10px 10px 10px;
}

.button_red { background: red; }
.button_green { background: green; }

#progress_box h3 { display: inline; }
#mistakes_box h3 { display: inline; }

